
/************************
** BASE STYLES **
************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: $purple-colour;
  font-family: $font-body;
  font-size: 20px;
  font-weight: $font-body;
  text-rendering: optimizeLegibility;
  /*-webkit-font-smoothing: antialiased;*/
}

html, body {
  height: 100%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}


/************************
** REUSABLE COMPONENTS **
************************/

/****** LAYOUT STYLES ******/

.row {
  max-width: 1200px;
  margin: 0 auto;
}

section, footer {
  padding: 80px 0;
}
