// *****Typography

h1 {
  font-family: $font-accent;
  font-size: $h1-font-size;
  color: $white-colour;
}

h2 {
  font-family: $font-body;
  font-size: $h2-font-size;
  color: $purple-colour;
  font-weight: $font-body-bold;
}

h3 {
  font-family: $font-body;
  font-size: $h3-font-size;
  color: $purple-colour;
}

h4 {
  font-family: $font-body;
  font-size: $h4-font-size;
  color: $purple-colour;
}

p {
  font-family: $font-body;
  font-size: $base-font-size;
  color: $purple-colour;
}



// p {
// 	font-size: $font-size;
// 	line-height: $line-height;
// 	color: $font-color;
// }
// h1 {
// 	font-size: $h1-font-size;
// 	color: $base-color;
// }
// h2 {
// 	font-size: $h2-font-size;
// 	color: $base-color;
// }
// h3 {
// 	font-size: $h3-font-size;
// 	color: $base-color;
// 	font-weight: $light;
// }
// h4 {
// 	font-size: $h4-font-size;
// 	color: $base-color;
// 	font-weight: $normal;
// }
// h5 {
// 	font-size: $h5-font-size;
// 	color: $base-color;
// 	text-transform: uppercase;
// 	font-weight: $bold;
// }
