// ***************
// * ANIMATIONS *
// ***************

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
      @content;
  }
  @keyframes #{$animation-name} {
      @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
          animation: #{$str};
}


/*** Logo SVG Animations ***/

@include keyframes(letter-outline) {
  0% {
   stroke-dashoffset: 330;
   fill-opacity: .25;
 }
 25% {
   stroke-dashoffset:0;
   fill-opacity: .25;
 }
 50% {
   stroke-dashoffset:0;
   fill-opacity: .75;
 }
 100% {
   stroke-dashoffset: 0;
   fill-opacity: 1;
 }
}

@include keyframes(triangle-outline) {
  0% {
    opacity: 0;
    stroke-dashoffset: 110;
    fill-opacity: 0;
  }
  25% {
    opacity: 1;
    stroke-dashoffset:0;
    fill-opacity: .25;
  }
  50% {
    opacity: 1;
    stroke-dashoffset:0;
    fill-opacity: .75;
  }
  100% {
   fill-opacity: 1;
   opacity: 1;
   stroke-dashoffset: 0;
  }
}

/*** About Section icons animation**/

@include keyframes(icons-about-outline-normal) {
  from {
    stroke-dashoffset: 1247;
    stroke: $purple-colour;
  }
  to {
    stroke-dashoffset: 0;
    stroke: $pink-colour;
  }
}

@include keyframes(icons-about-outline-hover) {
  from {
    stroke-dashoffset: 1247;
    stroke: $pink-colour;
  }
  to {
   stroke-dashoffset: 0;
   stroke: $purple-colour;
  }
}




/*** Menu Navigation Entrance Animation ***/

@include keyframes(fade-In-Right ) {
  0% {
    opacity: 0;
    left: 50%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}


/*** Blinking Cursor Typewritter Animation ***/
@include keyframes(blink) {
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}


// ***************
// * GRADIENTS *
// ***************

@mixin linear-gradient-image($direction, $stop-1, $stop2, $image) {
 background-image: -webkit-linear-gradient($direction, $stop-1, $stop2), $image;
 background-image: linear-gradient($direction, $stop-1, $stop2), $image;
}

@mixin linear-gradient-simple($args...) {
 background-image: -webkit-linear-gradient($args);
 background-image: linear-gradient($args);
}
