//Colors
$yellow-colour: #E6B526;
$purple-colour: #4d4276;
$blue-colour: #2b5876;
$white-colour: #FFF;
$pink-colour: #ff738d;
$light-gray-colour: #f1f1f1;

//Typography
$font-body: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
$font-secondary: 'Archivo Black', 'Helvetica', 'Arial', sans-serif;
$font-accent: 'Tenor Sans', 'Helvetica', 'Arial', sans-serif;

$font-body-normal: 400;
$font-body-semibold: 600;
$font-body-bold: 700;

$base-font-size: 20px;
$h1-font-size: 2.1rem;
$h2-font-size: 3rem;
$h3-font-size: 1.4rem;
$h4-font-size: .8rem;
// $h5-font-size: 14px;

$navigation-font-size: 2.1rem;
$h1-span-font-size: 5rem;


// // Breakpoints
// $bp-small: 320px;
// $bp-small-2: 480px;
// $bp-small-3: 568px;
// $bp-medium: 640px;
// $bp-medium-2: 768px;
// $bp-large: 1024px;
