/************************
** DIFFERENCE SECTION **
************************/

.section-difference {
  padding: 0;
  height: 50vw;
  width: 100vw;
}

.left-side,
.right-side {
  width: 50vw;
  height: 50vw;
  float: left;
}

.left-side {
  position: relative;
  padding: 0 5%;
}

.left-side .text-box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}


.left-side .text-box p {
  font-family: $font-body;
  width: 87%;
  line-height: 150%;
  text-align: justify;
}


.left-side .text-box h2 {
  font-weight: $font-body-normal;
  line-height: 1;
  margin-bottom: 80px;

  &::after {
    display: block;
    content: "";
    height: 8px;
    background-color: #ff738d;
    width: 100%;
    margin: 40px 35px 40px 0;
    position: absolute;
    right: 6%;
  }

  span {
    font-weight: $font-body-bold;
  }
}

ul.right-side {
  list-style: none;
  -webkit-backface-visibility: hidden;
}

ul.right-side  li {
  position: relative;
  width: 50%;
  height: 50%;
  float: left;
  -webkit-backface-visibility: hidden;
}

ul.right-side  li:nth-child(1),
ul.right-side  li:nth-child(4) {
  background-color: $light-gray-colour;
}

ul.right-side  li:nth-child(2),
ul.right-side  li:nth-child(3) {
  background-color: $dark-gray-colour;
}

ul.right-side  li .value {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    transition: transform .35s, top .35s;

}

ul.right-side .analysis-icon {
  width: 90px;
  margin: 0 auto;
  transform: scale(1);
  transition: transform .5s, width .5s;

}

.analysis-icon path {
  stroke-dasharray: 1247;
  @include animation('icons-about-outline-normal 2s ease-in-out forwards');
}

ul.right-side li:hover {

  .analysis-icon  {
    transform: scale(.7);
  }

  .analysis-icon path {
    @include animation('icons-about-outline-hover 2s ease-in-out forwards');
  }

  .value {
    top: 90px;
    transform: translate(-50%, -50%);
  }

  p {
    opacity: 1;
    top: 210px;
    transform: translate(-50%, -50%);
  }
}


ul.right-side li  p {
  position: absolute;
  top: 80%;
  left: 50%;
  font-size: .9rem;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 80%;
  margin: 0 auto;
  opacity: 0;
  transition: opacity .35s, top .35s;
}








//
