/* iPhone 6 ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 767px) {
  /* --- header section ----*/
  header {
    position: relative;
    background-attachment: scroll;

    .hero-text-box span { font-size: 2.2rem; }
    .menu-overlay .main-nav { top: 56%; }
    .menu-overlay ul li a { font-size: 1.4rem; }
  }
}
