/* iPhone 6 ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 767px) {

  /* --- header section ----*/
  header {
    .sticky {
      .logo{
        height: 42px;
        margin: 11px 0;
      }
      .menu_button_container {
        top: 17px;
      }
    }
    position: relative;
    background-attachment: scroll;

    .hero-text-box span { font-size: 2.2rem; }
    .menu-overlay .main-nav { top: 56%; }
    .menu-overlay ul li a { font-size: 1.4rem; }
  }

  /* --- difference section ----*/
  .section-difference {
      height: 400vw;

    .left-side {
      height: 30%;
    }
    .right-side {
      height: 70%;
      li { height: 25%; }
    }
  }

  /* --- difference section ----*/
  .leadership-section {
    figure.founder-photo {
      height: 111vw;
    }

    figure.founder-photo img {
       -webkit-transform: translateY(25px) scale(1.25);
               transform: translateY(25px) scale(1.25);
    }
  }

  /* --- industries section ----*/
  .indutries-section {
    height: 265vw;
    background-size: 100vw 150vw;
    padding-top: 50px;

    .wrapper { top: 150vw; }

    .industries .industry-photo { height: 55vw; }

  }

}
