/************************
**    MEDIA QUERIES    **
************************/

/****************************
        Max Width 1200px
****************************/
@media only screen and (max-width: 1200px) {
    /* --- base ----*/
  html {
    font-size: 18px;
  }

  /* --- header section ----*/
  header {
    .hero-text-box { width: 90%; }
  }


  /* --- about section ----*/
  .section-about {
    h4 { font-size: .9rem; }
  }

}

/**** Max Width 1100px ****/
@media only screen and (max-width: 1100px) {

  /* --- leadership section ----*/
  .leadership-section {
    figure.founder-photo figcaption {
      padding: 4rem;
    }
  }
}



/****************************
        Max Width 1024px
****************************/
@media only screen and (max-width: 1024px) {

  /* --- base ----*/
  .row { width: 94%; }

  /* --- about section ----*/
  .section-about .description-wrapper .left-box { padding: 2% 1% 2% 3%; }
  .section-about .description-wrapper .right-box {
    padding: 2% 3% 2% 1%;
    text-align: justify;
  }

  /* --- leadership section ----*/
  .leadership-section  {
    figure.founder-photo figcaption { padding: 3rem; }
  }

  /* --- difference section ----*/
  .section-difference {

    .left-side { padding: 0 3%; }

    ul.right-side li:hover .value { top: 63px; }

    ul.right-side li:hover h4 { margin-top: -10px;}

    ul.right-side li:hover p { top: 169px; }

    ul.right-side li  p { width: 90%; }

  }


  /* --- industries section ----*/
  .indutries-section{
    ul.industries .industry-photo:hover h3 { top: 20%; }

    ul.industries .industry-photo:hover h3 { top: 30%; }

    ul.industries .industry-photo h3,

    ul.industries .industry-photo p {
      width: 90%;
    }
  }

  /* --- contact section ----*/
  .contact-section {
    .contact-us h3 { margin-bottom: 2vw; }

    .contact-us a { margin-bottom: 15px; }

    .contact-us p { margin-bottom: 2vw; }

    .contact-us ul.social-links li i {
      width: 35px;
      height: 35px;
    }
  }

}


/****************************
        Max Width 900px
****************************/

@media only screen and (max-width: 900px) {



  /* --- header section ----*/
  header {
    h1 {font-size: 1.8em;}
    .hero-text-box span { font-size: 4.2rem;}
  }

  /* --- about section ----*/
  .section-about {
    .description-wrapper  .left-box,
    .description-wrapper  .right-box {
      width: 80%;
      text-align: center;
      float: none;
      margin: 0 auto;
      padding: 2% 0;
    }

    .description-wrapper .left-box h2 {
      width: 80%;
      margin-bottom: 30px;
      display: inline-block;
    }

    .description-wrapper .left-box h2::after {
      width: 100%;
      margin: 0;
      margin-top: 2vw;
      position: static;
    }

     .description-wrapper .left-box h3 {
      width: 100%;
      margin: 0 auto;
    }

  }


  /* --- leadership section ----*/
  .leadership-section {

    .founder-box {
      width: 100%;
      float: none;
    }

    figure.founder-photo {
      height: 57vw;
    }

    .founder-bio h3 {
      font-size: 2rem;
    }

    figure.founder-photo img {
      -webkit-transform: translateY(-64px);
              transform: translateY(-64px);
    }

    figure.founder-photo figcaption {
      padding: 3rem;
    }

  }

  /* --- difference section ----*/
  .section-difference {
    height: 100vw;
    width: 100vw;

    .left-side, .right-side {
      width: 100vw;
    }

    .left-side {
      height: 40vw;
    }

    .right-side {
      height: 60vw;
    }

    .left-side .text-box {
      text-align: center;
      width: 80%;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
    }

    .left-side .text-box h2 {
      display: inline-block;
      margin-bottom: 40px
    }

    .left-side .text-box h2::after {
      margin: 0;
      position: static;
      margin-top: 2vw;
    }

    .left-side .text-box p {
      width: 100%;
      text-align: center;
    }

  }

  /* --- industries section ----*/
  .indutries-section {
    height: 86vw;
    background-size: 100vw 52.5vw;

    .wrapper {
      width: 90vw;
      top: 52.5vw;
    }
  }

  /* --- services section ----*/
  .services-section {
    height: 69vw;

    .service-description {
      padding: 2rem 1rem 0 2rem;
      top: 19vw;
      height: 50vw;

    }

    ul.services-list {
      top: 23vw;
      left: 8vw;
      width: 42vw;
    }
  }


  /* --- contact section ----*/
  .contact-section {
    height: 100vw;

    .map {
      height: 45vw;
      width: 100vw;
    }

    .contact-us {
      position: static;
      width: 100vw;
      height: 0;
    }

    .contact-us p {
      margin-bottom: 4vw;
    }

    .contact-us ul.social-links li i {
      width: 45px;
      height: 45px;
      font-size: 1.2rem;
    }
  }
}


/****************************
        Max Width 767px
****************************/
@media only screen and (max-width: 767px) {

  /* --- header section ----*/
  header {

    .hero-text-box h1 {
      text-align: center;
      font-size: 1.4rem;
    }

    .hero-text-box span { font-size: 2.8rem; }

    .menu-overlay .main-nav { top: 56%; }

    .menu-overlay ul li a { font-size: 1.8rem; }

  }

  /* --- about section ----*/

  .section-about {

    .description-wrapper .left-box,
    .description-wrapper .right-box {
      width: 90%;
    }

    .expertises-wrapper .expertises .expertise-box {
      width: 100%;
      padding: 30px 0 0 0;
      margin: 0;
    }
    .expertises-wrapper .expertises .expertise-box:last-child {
      padding-bottom: 30px;
    }
  }


    /* --- leadership section ----*/

    .leadership-section {

      figure.founder-photo { height: 78vw; }

      figure.founder-photo img { -webkit-transform: translateY(-30px); transform: translateY(-30px); }

      figure.founder-photo figcaption {
        padding: 1rem;
        -webkit-transform: translateY(10%);
                transform: translateY(10%);
        -webkit-transition: all .25s;
                transition: all .25s;
      }

      figure.founder-photo:hover figcaption { -webkit-transform: translateY(0); transform: translateY(0); }

      .founder-bio h3 { font-size: 1.5rem; }

      .founder-bio p { font-size: .9rem; }

    }

    /* --- difference section ----*/

    .section-difference {
      height: 280vw;

      .left-side { height: 80vw; }

      .left-side .text-box { width: 90%; }

      .right-side { height: 100vw; }

      .right-side li {
        width: 100%;
        height: 50%;
      }

      .right-side li:nth-child(1),
      .right-side li:nth-child(3) {
        background-color: $light-gray-colour;
      }

      .right-side li:nth-child(2),
      .right-side li:nth-child(4) {
        background-color: $dark-gray-colour;
      }

    }

    /* --- industries section ----*/

    .indutries-section {
      height: 235vw;
      background-size: 100vw 130vw;
      padding-top: 40px;

      .wrapper { top: 130vw; }

      .industries li { width: 100%; }
      .industries .industry-photo  { height: 50vw; }

    }

    /* --- industries section ----*/

    .services-section {
      height: 175vw;

      h2 { margin-bottom: 40px; }

      ul.services-list {
        position: initial;
        width: 100vw;
      }

      ul.services-list li a.tab { padding-left: 3rem; }

      ul.services-list li.active a.tab::before,
      ul.services-list li:hover a.tab::before {
       left: 25px;
      }

      .service-description {
        position: initial;
        padding: 2rem 1rem 0 3rem;
        width: 100vw;
        height: 82vw;
      }

    }

    /* --- contact section ----*/

    .contact-section {
      height: 180vw;

      .map { height: 100vw; }

      .contact-us { height: auto; }

    }

}


/****************************
        Max Width 480px
****************************/

@media only screen and (max-width: 480px) {
  html { font-size: 16px;}

  /* --- difference section ----*/

  .section-difference {

    ul.right-side li:hover p {
      top: 149px;
    }

  }

  /* --- industries section ----*/

  .services-section {
    height: 190vw;

    ul.services-list li a.tab { padding-left: 3.25rem; }

    .service-description { height: 90vw; }

  }

  /* --- contact section ----*/

  .contact-section {
    height: 200vw;

    .map { height: 110vw; }

    .contact-us { height: auto; }

    .contact-us h3 { margin-bottom: 3vw; }

    .contact-us p { margin-bottom: 7vw; }

  }

}


/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px)
and (max-device-height: 667px)
and (orientation : landscape)
and (-webkit-device-pixel-ratio: 2) {

  /* --- header section ----*/
  header {
    .hero-text-box span { font-size: 2.4rem; }
    .menu-overlay .main-nav { top: 56%; }
    .menu-overlay ul li a { font-size: 1.6rem; }
  }

  
}
