/*** Logo SVG Animations ***/
@-webkit-keyframes letter-outline {
  0% {
    stroke-dashoffset: 330;
    fill-opacity: .25; }
  25% {
    stroke-dashoffset: 0;
    fill-opacity: .25; }
  50% {
    stroke-dashoffset: 0;
    fill-opacity: .75; }
  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1; } }
@keyframes letter-outline {
  0% {
    stroke-dashoffset: 330;
    fill-opacity: .25; }
  25% {
    stroke-dashoffset: 0;
    fill-opacity: .25; }
  50% {
    stroke-dashoffset: 0;
    fill-opacity: .75; }
  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1; } }
@-webkit-keyframes triangle-outline {
  0% {
    opacity: 0;
    stroke-dashoffset: 110;
    fill-opacity: 0; }
  25% {
    opacity: 1;
    stroke-dashoffset: 0;
    fill-opacity: .25; }
  50% {
    opacity: 1;
    stroke-dashoffset: 0;
    fill-opacity: .75; }
  100% {
    fill-opacity: 1;
    opacity: 1;
    stroke-dashoffset: 0; } }
@keyframes triangle-outline {
  0% {
    opacity: 0;
    stroke-dashoffset: 110;
    fill-opacity: 0; }
  25% {
    opacity: 1;
    stroke-dashoffset: 0;
    fill-opacity: .25; }
  50% {
    opacity: 1;
    stroke-dashoffset: 0;
    fill-opacity: .75; }
  100% {
    fill-opacity: 1;
    opacity: 1;
    stroke-dashoffset: 0; } }
/*** About Section icons animation**/
@-webkit-keyframes icons-about-outline-normal {
  from {
    stroke-dashoffset: 1247;
    stroke: #4d4276; }
  to {
    stroke-dashoffset: 0;
    stroke: #ff738d; } }
@keyframes icons-about-outline-normal {
  from {
    stroke-dashoffset: 1247;
    stroke: #4d4276; }
  to {
    stroke-dashoffset: 0;
    stroke: #ff738d; } }
@-webkit-keyframes icons-about-outline-hover {
  from {
    stroke-dashoffset: 1247;
    stroke: #ff738d; }
  to {
    stroke-dashoffset: 0;
    stroke: #4d4276; } }
@keyframes icons-about-outline-hover {
  from {
    stroke-dashoffset: 1247;
    stroke: #ff738d; }
  to {
    stroke-dashoffset: 0;
    stroke: #4d4276; } }
/*** Menu Navigation Entrance Animation ***/
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 50%; }
  100% {
    opacity: 1;
    left: 0; } }
@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 50%; }
  100% {
    opacity: 1;
    left: 0; } }
/*** Blinking Cursor Typewritter Animation ***/
@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
h1 {
  color: #FFF;
  font-family: "Tenor Sans", "Helvetica", "Arial", sans-serif;
  font-size: 2.1rem; }

/************************
** BASE STYLES **
************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  color: #4d4276;
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
  font-size: 20px;
  font-weight: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
  text-rendering: optimizeLegibility;
  /*-webkit-font-smoothing: antialiased;*/ }

html, body {
  height: 100%; }

.clearfix::after {
  content: "";
  clear: both;
  display: block; }

/************************
** REUSABLE COMPONENTS **
************************/
/****** LAYOUT STYLES ******/
.row {
  max-width: 1200px;
  margin: 0 auto; }

section, footer {
  padding: 80px 0; }

/************************
** HEADER SECTION **
************************/
header {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  top: 0;
  left: 0;
  background-image: -webkit-linear-gradient(left, rgba(43, 88, 118, 0.4), rgba(78, 67, 118, 0.8)), url("img/hero-bg.jpg");
  background-image: linear-gradient(left, rgba(43, 88, 118, 0.4), rgba(78, 67, 118, 0.8)), url("img/hero-bg.jpg"); }

nav {
  position: relative;
  z-index: 200; }

.logo {
  position: relative;
  height: 60px;
  width: auto;
  float: left;
  margin-top: 26px;
  z-index: 100;
  cursor: pointer;
  transition: all .35s;
  -webkit-transition: all .35s; }
  .logo:hover #letter {
    fill: #FFF;
    stroke: #FFF;
    stroke-width: 2px;
    stroke-dasharray: 330;
    stroke-dashoffset: 330;
    -webkit-animation: letter-outline 2s forwards;
    animation: letter-outline 2s forwards; }
  .logo:hover #triangle {
    opacity: 0;
    fill: #E6B526;
    stroke: #E6B526;
    stroke-width: 2px;
    stroke-dasharray: 110;
    stroke-dashoffset: 110;
    -webkit-animation: triangle-outline 1s ease-in 1s forwards;
    animation: triangle-outline 1s ease-in 1s forwards; }

#letter {
  fill: #FFF;
  stroke: #FFF;
  stroke-width: 2px; }

#triangle {
  fill: #E6B526;
  stroke: #E6B526;
  stroke-width: 2px; }

/********* BUTTON NAV NOT ATCTIVE CLASS APPLIED **********/
.menu_button_container {
  position: relative;
  top: 26px;
  float: right;
  width: 35px;
  height: 27px;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  /********* When Hover on button **********/ }
  .menu_button_container:hover span:nth-of-type(1) {
    top: 5px; }
  .menu_button_container:hover span:nth-of-type(3) {
    bottom: 5px; }
  .menu_button_container span {
    position: absolute;
    background: #E6B526;
    height: 2px;
    width: 100%;
    display: inline-block;
    -webkit-transition: all .35s ease;
    -webkit-transition: all .25s ease;
    transition: all .25s ease; }
    .menu_button_container span:nth-of-type(1) {
      top: 0px; }
    .menu_button_container span:nth-of-type(2) {
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
    .menu_button_container span:nth-of-type(3) {
      bottom: 0px; }

/********* BUTTON NAV ACTIVE CLASS APPLIED **********/
/********* When Hover On Button And The Menu Is active **********/
.menu_button_container.active {
  /********* Making The X **********/ }
  .menu_button_container.active:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); }
  .menu_button_container.active:hover span:nth-of-type(1) {
    top: 0px; }
  .menu_button_container.active:hover span:nth-of-type(3) {
    bottom: 0px; }
  .menu_button_container.active .top {
    background: #FFF;
    -webkit-transform: translateY(13px) translateX(0) rotate(45deg);
    transform: translateY(13px) translateX(0) rotate(45deg); }
  .menu_button_container.active .middle {
    opacity: 0;
    background: #FFF; }
  .menu_button_container.active .bottom {
    background: #FFF;
    -webkit-transform: translateY(-12px) translateX(0) rotate(-45deg);
    transform: translateY(-12px) translateX(0) rotate(-45deg); }

/********* FULL SCREEN NAVIGATION **********/
/********** When The Navigation Is closed ***********/
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  /* initial state*/
  opacity: 0;
  /* initial state*/
  visibility: hidden;
  /* initial state*/
  -webkit-transition: opacity .35s, visibility .35s, height .35s;
  -webkit-transition: opacity .35s, visibility .35, height .35s;
  transition: opacity .35s, visibility .35, height .35s;
  background-image: -webkit-linear-gradient(left, rgba(43, 88, 118, 0.98), rgba(78, 67, 118, 0.98));
  background-image: linear-gradient(left, rgba(43, 88, 118, 0.98), rgba(78, 67, 118, 0.98)); }
  .menu-overlay .main-nav {
    position: relative;
    top: 50%;
    height: 70%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .menu-overlay ul {
    list-style: none;
    height: 100%; }
  .menu-overlay ul li {
    min-height: 50px;
    height: 16.666%;
    height: calc(100% / 6);
    opacity: 0;
    position: relative; }
  .menu-overlay ul li a {
    position: relative;
    display: inline-block;
    color: #FFF;
    font-family: "Archivo Black", "Helvetica", "Arial", sans-serif;
    font-size: 2.1rem;
    text-decoration: none;
    letter-spacing: inherit;
    -webkit-transition: color 1s ease;
    -webkit-transition: color .25s ease, text-decoration .25s ease, letter-spacing .25s ease;
    transition: color .25s ease, text-decoration .25s ease, letter-spacing .25s ease; }
  .menu-overlay ul li a:hover, .menu-overlay ul li a:active {
    color: #E6B526;
    letter-spacing: 3px; }

/********** When The Navigation Is Open ***********/
.menu-overlay.open {
  opacity: 1;
  visibility: visible;
  height: 100%; }
  .menu-overlay.open li {
    -webkit-animation: fadeInRight .5s ease forwards;
    animation: fadeInRight .5s ease forwards; }
  .menu-overlay.open li:nth-of-type(1) {
    -webkit-animation-delay: .4s;
    animation-delay: .4s; }
  .menu-overlay.open li:nth-of-type(2) {
    -webkit-animation-delay: .4s;
    animation-delay: .4s; }
  .menu-overlay.open li:nth-of-type(3) {
    -webkit-animation-delay: .45s;
    animation-delay: .45s; }
  .menu-overlay.open li:nth-of-type(4) {
    -webkit-animation-delay: .5s;
    animation-delay: .5s; }
  .menu-overlay.open li:nth-of-type(5) {
    -webkit-animation-delay: .55s;
    animation-delay: .55s; }
  .menu-overlay.open li:nth-of-type(6) {
    -webkit-animation-delay: .6s;
    animation-delay: .6s; }

.typed-cursor {
  -webkit-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

/********** HERO TEXTBOX ***********/
.hero-text-box {
  position: absolute;
  width: 1040px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%); }
  .hero-text-box span {
    color: #FFF;
    font-size: 5rem;
    letter-spacing: 2px;
    line-height: 100%;
    font-family: "Archivo Black", "Helvetica", "Arial", sans-serif;
    color: #E6B526;
    text-transform: uppercase;
    position: relative; }

.section-about {
  padding: 0; }
  .section-about .description-wrapper {
    padding: 40px 0 10px 0; }
    .section-about .description-wrapper .left-box {
      padding: 35px 35px 35px 0; }
      .section-about .description-wrapper .left-box h2 {
        font-size: 3rem;
        font-weight: 400;
        line-height: 1;
        margin-bottom: 80px; }
        .section-about .description-wrapper .left-box h2::after {
          display: block;
          content: "";
          height: 8px;
          background-color: #ff738d;
          width: 50%;
          margin: 40px 35px 40px 0;
          position: absolute;
          right: 50%; }
        .section-about .description-wrapper .left-box h2 span {
          font-weight: 600; }
      .section-about .description-wrapper .left-box h3 {
        line-height: 150%;
        font-weight: 400; }
        .section-about .description-wrapper .left-box h3 span {
          font-weight: 700; }
    .section-about .description-wrapper .right-box {
      padding: 35px 0 35px 35px; }
      .section-about .description-wrapper .right-box p {
        line-height: 150%; }
        .section-about .description-wrapper .right-box p:first-child {
          margin-bottom: 40px; }
  .section-about .expertises-wrapper {
    background-color: #f1f1f1; }
    .section-about .expertises-wrapper .expertises {
      height: 100%; }
      .section-about .expertises-wrapper .expertises .expertise-box {
        position: relative;
        text-align: center;
        padding: 30px 0; }
        .section-about .expertises-wrapper .expertises .expertise-box .icon {
          width: 57px;
          margin: 0 auto;
          height: auto;
          margin-bottom: 5px; }
          .section-about .expertises-wrapper .expertises .expertise-box .icon path {
            margin-bottom: 10px;
            stroke-dasharray: 1247;
            -webkit-animation: icons-about-outline-normal 2s ease-in-out forwards;
            animation: icons-about-outline-normal 2s ease-in-out forwards; }
          .section-about .expertises-wrapper .expertises .expertise-box .icon:hover path {
            -webkit-animation: icons-about-outline-hover 4s ease-in-out forwards;
            animation: icons-about-outline-hover 4s ease-in-out forwards; }
        .section-about .expertises-wrapper .expertises .expertise-box h4 {
          font-size: 1rem;
          font-weight: 400; }

.leadership-section {
  padding: 0; }

.founder-box {
  width: 50%;
  float: left;
  margin: 0; }

.founder-box:first-child {
  position: relative;
  text-align: left; }

.founder-box:first-child figure.founder-photo {
  background-color: #E6B526; }

.founder-box:last-child {
  position: relative;
  text-align: right; }

.founder-box:last-child figure.founder-photo {
  background-color: #4d4276; }

figure.founder-photo {
  position: relative;
  margin: 0;
  width: 100%;
  overflow: hidden; }

figure.founder-photo img {
  opacity: 1;
  display: block;
  width: 100%;
  transform: scale(1);
  transition: all .25s ease-out; }

figure.founder-photo figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 6em;
  transform: translateY(20%);
  transition: transform 0.25s; }

figure.founder-photo:hover figcaption {
  transform: translateY(0);
  left: 0; }

figure.founder-photo:hover img {
  opacity: .1;
  transform: scale(1.2); }

figure.founder-photo:hover h3::after {
  width: 100%; }

figure.founder-photo:hover h4,
figure.founder-photo:hover p {
  opacity: 1;
  transition: opacity .25s ease-out .25s; }

.founder-bio {
  height: 100%;
  position: relative; }

.founder-bio h3 {
  font-size: 1.8rem;
  color: #FFF;
  text-transform: uppercase;
  margin-bottom: 50px; }

.founder-box h3::after {
  display: block;
  content: "";
  height: 5px;
  background-color: #FFF;
  width: 15%;
  margin-top: 10px;
  position: absolute;
  transition: width .25s ease-out; }

.founder-box:first-child h3::after {
  left: 0; }

.founder-box:last-child h3::after {
  right: 0; }

.founder-bio h4 {
  font-size: calc( 1rem + 10% );
  color: #FFF;
  text-transform: uppercase;
  margin-bottom: 10px; }

.founder-bio p {
  font-size: 20px;
  color: #FFF;
  line-height: 150%;
  text-align: justify; }

.founder-bio p, .founder-bio h4 {
  opacity: 0; }

/*# sourceMappingURL=style.css.map */
