/*** Logo SVG Animations ***/
@-webkit-keyframes letter-outline {
  0% {
    stroke-dashoffset: 330;
    fill-opacity: .25; }
  25% {
    stroke-dashoffset: 0;
    fill-opacity: .25; }
  50% {
    stroke-dashoffset: 0;
    fill-opacity: .75; }
  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1; } }
@keyframes letter-outline {
  0% {
    stroke-dashoffset: 330;
    fill-opacity: .25; }
  25% {
    stroke-dashoffset: 0;
    fill-opacity: .25; }
  50% {
    stroke-dashoffset: 0;
    fill-opacity: .75; }
  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1; } }
@-webkit-keyframes triangle-outline {
  0% {
    opacity: 0;
    stroke-dashoffset: 110;
    fill-opacity: 0; }
  25% {
    opacity: 1;
    stroke-dashoffset: 0;
    fill-opacity: .25; }
  50% {
    opacity: 1;
    stroke-dashoffset: 0;
    fill-opacity: .75; }
  100% {
    fill-opacity: 1;
    opacity: 1;
    stroke-dashoffset: 0; } }
@keyframes triangle-outline {
  0% {
    opacity: 0;
    stroke-dashoffset: 110;
    fill-opacity: 0; }
  25% {
    opacity: 1;
    stroke-dashoffset: 0;
    fill-opacity: .25; }
  50% {
    opacity: 1;
    stroke-dashoffset: 0;
    fill-opacity: .75; }
  100% {
    fill-opacity: 1;
    opacity: 1;
    stroke-dashoffset: 0; } }
/*** About Section icons animation**/
@-webkit-keyframes icons-about-outline-normal {
  from {
    stroke-dashoffset: 1247;
    stroke: #4d4276; }
  to {
    stroke-dashoffset: 0;
    stroke: #ff738d; } }
@keyframes icons-about-outline-normal {
  from {
    stroke-dashoffset: 1247;
    stroke: #4d4276; }
  to {
    stroke-dashoffset: 0;
    stroke: #ff738d; } }
@-webkit-keyframes icons-about-outline-hover {
  from {
    stroke-dashoffset: 1247;
    stroke: #ff738d; }
  to {
    stroke-dashoffset: 0;
    stroke: #4d4276; } }
@keyframes icons-about-outline-hover {
  from {
    stroke-dashoffset: 1247;
    stroke: #ff738d; }
  to {
    stroke-dashoffset: 0;
    stroke: #4d4276; } }
/*** Menu Navigation Entrance Animation ***/
@-webkit-keyframes fade-In-Right {
  0% {
    opacity: 0;
    left: 50%; }
  100% {
    opacity: 1;
    left: 0; } }
@keyframes fade-In-Right {
  0% {
    opacity: 0;
    left: 50%; }
  100% {
    opacity: 1;
    left: 0; } }
/*** Blinking Cursor Typewritter Animation ***/
@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
h1 {
  font-family: "Tenor Sans", "Helvetica", "Arial", sans-serif;
  font-size: 2.1rem;
  color: #FFF; }

h2 {
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
  font-size: 2.7rem;
  color: #4d4276;
  font-weight: 700; }

h3 {
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
  font-size: 1.3rem;
  color: #4d4276; }

h4 {
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
  font-size: 1.1rem;
  color: #4d4276; }

p {
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
  font-size: 1rem;
  color: #4d4276; }

/************************
** BASE STYLES **
************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  color: #4d4276;
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
  font-size: 20px;
  font-weight: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
  text-rendering: optimizeLegibility; }

html, body {
  height: 100%; }

.clearfix::after {
  content: "";
  clear: both;
  display: block; }

/************************
** REUSABLE COMPONENTS **
************************/
/****** LAYOUT STYLES ******/
.row {
  width: 90%;
  margin: 0 auto; }

section, footer {
  padding: 80px 0; }

/***************************
** ANIMATIONS ANIMATE.CSS **
***************************/
/**** HEADER ANIMATIONS ******/
.js-wp-animate-nav {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: .5s;
  animation-delay: .5s; }

.js-wp-animate-hero-text-box {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s; }

/**** ABOUT ANIMATIONS ******/
.js-wp-animate-left-box-about,
.js-wp-animate-right-box-about,
.js-wp-animate-expertises {
  opacity: 0; }

.js-wp-animate-left-box-about.animated,
.js-wp-animate-right-box-about.animated,
.js-wp-animate-expertises.animated {
  opacity: 1; }

.js-wp-animate-left-box-about {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

.js-wp-animate-right-box-about {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

.js-wp-animate-expertises {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s; }

/**** LEADERSHIP ANIMATIONS ******/
.js-wp-animate-founder1,
.js-wp-animate-founder2 {
  opacity: 0; }

.js-wp-animate-founder1.animated,
.js-wp-animate-founder2.animated {
  opacity: 1; }

.js-wp-animate-founder1 {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

.js-wp-animate-founder2 {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

/**** DIFFERENCE ANIMATIONS ******/
.js-wp-animate-left-side-difference,
.js-wp-animate-right-side-value1,
.js-wp-animate-right-side-value2,
.js-wp-animate-right-side-value3,
.js-wp-animate-right-side-value4 {
  opacity: 0; }

.js-wp-animate-left-side-difference.animated,
.js-wp-animate-right-side-value1.animated,
.js-wp-animate-right-side-value2.animated,
.js-wp-animate-right-side-value3.animated,
.js-wp-animate-right-side-value4.animated {
  opacity: 1; }

.js-wp-animate-left-side-difference {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

.js-wp-animate-right-side-value1 {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s; }

.js-wp-animate-right-side-value2 {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s; }

.js-wp-animate-right-side-value3 {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s; }

.js-wp-animate-right-side-value4 {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-delay: 3s;
  animation-delay: 3s; }

/**** DIFFERENCE ANIMATIONS ******/
.js-wp-animate-industries-heading,
.js-wp-animate-industries-wrapper {
  opacity: 0; }

.js-wp-animate-industries-heading.animated,
.js-wp-animate-industries-wrapper.animated {
  opacity: 1; }

.js-wp-animate-industries-heading {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

.js-wp-animate-industries-wrapper {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s; }

/**** SERVICES ANIMATIONS ******/
.js-wp-animate-services-heading,
.js-wp-animate-services-list,
.js-wp-animate-services-descriptions {
  opacity: 0; }

.js-wp-animate-services-heading.animated,
.js-wp-animate-services-list.animated,
.js-wp-animate-services-descriptions.animated {
  opacity: 1; }

.js-wp-animate-services-heading {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

.js-wp-animate-services-list {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s; }

.js-wp-animate-services-descriptions {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s; }

/**** CONTACT ANIMATIONS ******/
.js-wp-animate-contact-map,
.js-wp-animate-contact-info {
  opacity: 0; }

.js-wp-animate-contact-map.animated,
.js-wp-animate-contact-info.animated {
  opacity: 1; }

.js-wp-animate-contact-map {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

.js-wp-animate-contact-info {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s; }

/************************
** HEADER SECTION **
************************/
header {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  top: 0;
  left: 0;
  background-image: -webkit-linear-gradient(left, rgba(43, 88, 118, 0.4), rgba(78, 67, 118, 0.8)), url("img/hero-bg.jpg");
  background-image: linear-gradient(left, rgba(43, 88, 118, 0.4), rgba(78, 67, 118, 0.8)), url("img/hero-bg.jpg"); }

nav {
  position: relative;
  z-index: 200; }

.logo {
  position: relative;
  height: 60px;
  width: auto;
  float: left;
  margin-top: 26px;
  z-index: 100;
  cursor: pointer;
  transition: all .35s;
  -webkit-transition: all .35s; }
  .logo:hover #letter {
    fill: #FFF;
    stroke: #FFF;
    stroke-width: 2px;
    stroke-dasharray: 330;
    stroke-dashoffset: 330;
    -webkit-animation: letter-outline 2s forwards;
    animation: letter-outline 2s forwards;
    /*animation: name duration timing-function delay iteration-count direction fill-mode play-state;*/ }
  .logo:hover #triangle {
    opacity: 0;
    fill: #E6B526;
    stroke: #E6B526;
    stroke-width: 2px;
    stroke-dasharray: 110;
    stroke-dashoffset: 110;
    -webkit-animation: triangle-outline 1s ease-in 1s forwards;
    animation: triangle-outline 1s ease-in 1s forwards;
    /*animation: name duration timing-function delay iteration-count direction fill-mode play-state;*/ }

#letter {
  fill: #FFF;
  stroke: #FFF;
  stroke-width: 2px; }

#triangle {
  fill: #E6B526;
  stroke: #E6B526;
  stroke-width: 2px; }

/********* BUTTON NAV NOT ATCTIVE CLASS APPLIED **********/
.menu_button_container {
  position: relative;
  top: 26px;
  float: right;
  width: 35px;
  height: 27px;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  /********* When Hover on button **********/ }
  .menu_button_container:hover span:nth-of-type(1) {
    top: 5px; }
  .menu_button_container:hover span:nth-of-type(3) {
    bottom: 5px; }
  .menu_button_container span {
    position: absolute;
    background: #E6B526;
    height: 2px;
    width: 100%;
    display: inline-block;
    -webkit-transition: all .25s ease;
    transition: all .25s ease; }
    .menu_button_container span:nth-of-type(1) {
      top: 0px; }
    .menu_button_container span:nth-of-type(2) {
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
    .menu_button_container span:nth-of-type(3) {
      bottom: 0px; }

/********* STICKY NAV CLASS APPLIED **********/
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-image: -webkit-linear-gradient(left, rgba(43, 88, 118, 0.98), rgba(78, 67, 118, 0.98));
  background-image: linear-gradient(left, rgba(43, 88, 118, 0.98), rgba(78, 67, 118, 0.98));
  z-index: 30;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); }
  .sticky .logo {
    margin: 20px 0; }

/********* BUTTON NAV ACTIVE CLASS APPLIED **********/
/********* When Hover On Button And The Menu Is active **********/
.menu_button_container.active {
  /********* Making The X **********/ }
  .menu_button_container.active:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); }
  .menu_button_container.active:hover span:nth-of-type(1) {
    top: 0px; }
  .menu_button_container.active:hover span:nth-of-type(3) {
    bottom: 0px; }
  .menu_button_container.active .top {
    background: #FFF;
    -webkit-transform: translateY(13px) translateX(0) rotate(45deg);
    transform: translateY(13px) translateX(0) rotate(45deg); }
  .menu_button_container.active .middle {
    opacity: 0;
    background: #FFF; }
  .menu_button_container.active .bottom {
    background: #FFF;
    -webkit-transform: translateY(-12px) translateX(0) rotate(-45deg);
    transform: translateY(-12px) translateX(0) rotate(-45deg); }

/********* FULL SCREEN NAVIGATION **********/
/********** When The Navigation Is closed ***********/
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 0%;
  /* initial state*/
  opacity: 0;
  /* initial state*/
  visibility: hidden;
  /* initial state*/
  -webkit-transition: opacity .35s, visibility .35s, height .35s;
  transition: opacity .35s, visibility .35s, height .35s;
  background-image: -webkit-linear-gradient(left, rgba(43, 88, 118, 0.98), rgba(78, 67, 118, 0.98));
  background-image: linear-gradient(left, rgba(43, 88, 118, 0.98), rgba(78, 67, 118, 0.98)); }
  .menu-overlay .main-nav {
    position: relative;
    top: 50%;
    height: 70%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .menu-overlay ul {
    list-style: none;
    height: 100%; }
  .menu-overlay ul li {
    min-height: 50px;
    height: 16.666%;
    height: calc(100% / 6);
    opacity: 0;
    position: relative; }
  .menu-overlay ul li a {
    position: relative;
    display: inline-block;
    color: #FFF;
    font-family: "Archivo Black", "Helvetica", "Arial", sans-serif;
    font-size: 2.1rem;
    text-decoration: none;
    letter-spacing: inherit;
    -webkit-transition: color .25s ease, text-decoration .25s ease, letter-spacing .25s ease;
    transition: color .25s ease, text-decoration .25s ease, letter-spacing .25s ease; }
  .menu-overlay ul li a:hover, .menu-overlay ul li a:active {
    color: #E6B526;
    letter-spacing: 3px; }

/********** When The Navigation Is Open ***********/
.menu-overlay.open {
  opacity: 1;
  visibility: visible;
  height: 100vh; }
  .menu-overlay.open li {
    -webkit-animation: fade-In-Right .5s ease forwards;
    animation: fade-In-Right .5s ease forwards;
    /*animation: name duration timing-function delay iteration-count direction fill-mode play-state;*/ }
  .menu-overlay.open li:nth-of-type(1) {
    -webkit-animation-delay: .4s;
    animation-delay: .4s; }
  .menu-overlay.open li:nth-of-type(2) {
    -webkit-animation-delay: .4s;
    animation-delay: .4s; }
  .menu-overlay.open li:nth-of-type(3) {
    -webkit-animation-delay: .45s;
    animation-delay: .45s; }
  .menu-overlay.open li:nth-of-type(4) {
    -webkit-animation-delay: .5s;
    animation-delay: .5s; }
  .menu-overlay.open li:nth-of-type(5) {
    -webkit-animation-delay: .55s;
    animation-delay: .55s; }
  .menu-overlay.open li:nth-of-type(6) {
    -webkit-animation-delay: .6s;
    animation-delay: .6s; }

.typed-cursor {
  -webkit-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

/********** HERO TEXTBOX ***********/
.hero-text-box {
  position: absolute;
  width: 1040px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .hero-text-box span {
    color: #FFF;
    font-size: 5rem;
    letter-spacing: 2px;
    line-height: 100%;
    font-family: "Archivo Black", "Helvetica", "Arial", sans-serif;
    color: #E6B526;
    text-transform: uppercase;
    position: relative; }

/************************
** ABOUT SECTION **
************************/
.section-about {
  padding: 0; }
  .section-about .description-wrapper {
    padding: 40px 0 10px 0; }
    .section-about .description-wrapper .left-box {
      padding: 2% 1% 2% 5%;
      position: relative;
      display: block; }
      .section-about .description-wrapper .left-box h2 {
        font-weight: 400;
        line-height: 1;
        margin-bottom: 80px; }
        .section-about .description-wrapper .left-box h2::after {
          display: block;
          content: "";
          height: 8px;
          background-color: #ff738d;
          width: 100%;
          margin: 40px 35px 40px 0;
          position: absolute;
          right: 6%; }
        .section-about .description-wrapper .left-box h2 span {
          font-weight: 700; }
      .section-about .description-wrapper .left-box h3 {
        line-height: 150%;
        font-weight: 400;
        width: 87%; }
        .section-about .description-wrapper .left-box h3 span {
          font-weight: 700; }
    .section-about .description-wrapper .right-box {
      padding: 2% 5% 2% 1%;
      position: relative;
      display: block; }
      .section-about .description-wrapper .right-box p {
        line-height: 150%; }
        .section-about .description-wrapper .right-box p:first-child {
          margin-bottom: 40px; }
  .section-about .expertises-wrapper {
    background-color: #f1f1f1;
    position: relative;
    display: block; }
    .section-about .expertises-wrapper .expertises {
      height: 100%; }
      .section-about .expertises-wrapper .expertises .expertise-box {
        position: relative;
        text-align: center;
        padding: 30px 0; }
        .section-about .expertises-wrapper .expertises .expertise-box .icon {
          width: 57px;
          margin: 0 auto;
          height: auto;
          margin-bottom: 5px; }
          .section-about .expertises-wrapper .expertises .expertise-box .icon path {
            margin-bottom: 10px;
            stroke-dasharray: 1247;
            -webkit-animation: icons-about-outline-normal 2s ease-in-out forwards;
            animation: icons-about-outline-normal 2s ease-in-out forwards; }
          .section-about .expertises-wrapper .expertises .expertise-box .icon:hover path {
            -webkit-animation: icons-about-outline-hover 2s ease-in-out forwards;
            animation: icons-about-outline-hover 2s ease-in-out forwards; }
        .section-about .expertises-wrapper .expertises .expertise-box h4 {
          font-weight: 400; }

/************************
** LEADERSHIP SECTION **
************************/
.leadership-section {
  padding: 0; }

.founder-box {
  width: 50%;
  float: left;
  margin: 0;
  position: relative; }

.founder-box:first-child {
  position: relative;
  text-align: left; }

.founder-box:first-child figure.founder-photo {
  background-color: #E6B526; }

.founder-box:last-child {
  position: relative;
  text-align: right; }

.founder-box:last-child figure.founder-photo {
  background-color: #4d4276; }

figure.founder-photo {
  position: relative;
  margin: 0;
  width: 100%;
  overflow: hidden; }

figure.founder-photo img {
  opacity: 1;
  display: block;
  width: 100%;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all .25s ease-out;
  transition: all .25s ease-out; }

figure.founder-photo figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 6em;
  -webkit-transform: translateY(20%);
  transform: translateY(20%);
  -webkit-transition: all .25s;
  transition: all .25s; }

figure.founder-photo:hover figcaption {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  left: 0; }

figure.founder-photo:hover img {
  opacity: .1;
  -webkit-transform: scale(1.2);
  transform: scale(1.2); }

figure.founder-photo:hover h3::after {
  width: 100%; }

figure.founder-photo:hover h4,
figure.founder-photo:hover p {
  opacity: 1;
  -webkit-transition: opacity .25s ease-out .25s;
  transition: opacity .25s ease-out .25s; }

.founder-bio {
  height: 100%;
  position: relative; }

.founder-bio h3 {
  color: #FFF;
  text-transform: uppercase;
  margin-bottom: 50px; }

.founder-box h3::after {
  display: block;
  content: "";
  height: 5px;
  background-color: #FFF;
  width: 15%;
  margin-top: 10px;
  position: absolute;
  -webkit-transition: width .25s ease-out;
  transition: width .25s ease-out; }

.founder-box:first-child h3::after {
  left: 0; }

.founder-box:last-child h3::after {
  right: 0; }

.founder-bio h4 {
  font-size: calc( 1.1rem + 10% );
  color: #FFF;
  text-transform: uppercase;
  margin-bottom: 10px; }

.founder-bio p {
  color: #FFF;
  line-height: 150%;
  text-align: justify; }

.founder-bio p, .founder-bio h4 {
  opacity: 0; }

/************************
** DIFFERENCE SECTION **
************************/
.section-difference {
  padding: 0;
  height: 50vw;
  width: 100vw; }

.left-side,
.right-side {
  width: 50vw;
  height: 50vw;
  float: left; }

.left-side {
  position: relative;
  padding: 0 5%; }

.left-side .text-box {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.left-side .text-box p {
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
  width: 87%;
  line-height: 150%;
  text-align: justify; }

.left-side .text-box h2 {
  font-weight: 400;
  line-height: 1;
  margin-bottom: 80px; }
  .left-side .text-box h2::after {
    display: block;
    content: "";
    height: 8px;
    background-color: #ff738d;
    width: 100%;
    margin: 40px 35px 40px 0;
    position: absolute;
    right: 6%; }
  .left-side .text-box h2 span {
    font-weight: 700; }

ul.right-side {
  list-style: none;
  -webkit-backface-visibility: hidden; }

ul.right-side li {
  position: relative;
  width: 50%;
  height: 50%;
  float: left;
  -webkit-backface-visibility: hidden; }

ul.right-side li:nth-child(1),
ul.right-side li:nth-child(4) {
  background-color: #f1f1f1; }

ul.right-side li:nth-child(2),
ul.right-side li:nth-child(3) {
  background-color: #e0e0e0; }

ul.right-side li .value {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  -webkit-transition: all .35s;
  transition: all .35s; }

ul.right-side .analysis-icon {
  width: 90px;
  margin: 0 auto;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all .5s;
  transition: all .5s; }

.analysis-icon path {
  stroke-dasharray: 1247;
  -webkit-animation: icons-about-outline-normal 2s ease-in-out forwards;
  animation: icons-about-outline-normal 2s ease-in-out forwards; }

ul.right-side li:hover .analysis-icon {
  -webkit-transform: scale(0.7);
  transform: scale(0.7); }
ul.right-side li:hover .analysis-icon path {
  -webkit-animation: icons-about-outline-hover 2s ease-in-out forwards;
  animation: icons-about-outline-hover 2s ease-in-out forwards; }
ul.right-side li:hover .value {
  top: 90px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
ul.right-side li:hover p {
  opacity: 1;
  top: 210px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

ul.right-side li p {
  position: absolute;
  top: 80%;
  left: 50%;
  font-size: .9rem;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: opacity .35s, top .35s;
  transition: opacity .35s, top .35s; }

/**/
/************************
** INDUSTRIES SECTION **
************************/
.indutries-section {
  padding: 0;
  height: 64vw;
  background-image: -webkit-linear-gradient(left, rgba(43, 88, 118, 0.98), rgba(78, 67, 118, 0.98));
  background-image: linear-gradient(left, rgba(43, 88, 118, 0.98), rgba(78, 67, 118, 0.98));
  padding-top: 4vw;
  text-align: center;
  position: relative;
  background-size: 100vw 39vw;
  background-repeat: no-repeat; }
  .indutries-section h2 {
    font-size: 2.7rem;
    font-weight: 700;
    line-height: 1;
    color: #FFF;
    display: inline-block; }
    .indutries-section h2::after {
      display: block;
      content: "";
      height: 8px;
      background-color: #E6B526;
      width: 100%;
      margin-top: 2vw; }

.wrapper {
  position: absolute;
  width: 62vw;
  top: 61%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

ul.industries {
  list-style: none; }

ul.industries li {
  display: block;
  float: left;
  width: 50%;
  margin: -1px; }

ul.industries .industry-photo {
  position: relative;
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
  -webkit-transition: background .35s;
  transition: background .35s; }

ul.industries .industry-photo img {
  max-width: 100%;
  display: block;
  opacity: 0.6;
  -webkit-transition: opacity .35s;
  transition: opacity .35s;
  -webkit-transform: translateZ(0) scale(1.2);
  transform: translateZ(0) scale(1.2);
  -webkit-backface-visibility: hidden; }

ul.industries .industry-photo figcaption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #FFF; }

ul.industries .industry-photo h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.3rem;
  color: #FFF;
  text-transform: uppercase;
  width: 80%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  -webkit-transition: all .35s;
  transition: all .35s; }

ul.industries .industry-photo p {
  position: absolute;
  font-size: .9rem;
  color: #FFF;
  top: 50%;
  left: 50%;
  width: 80%;
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  -webkit-transition: all .35s;
  transition: all .35s; }

ul.industries .industry-photo:hover {
  background-color: #E6B526; }
  ul.industries .industry-photo:hover img {
    opacity: 0.1; }
  ul.industries .industry-photo:hover h3 {
    top: 30%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0); }
  ul.industries .industry-photo:hover p {
    top: 40%;
    opacity: 1;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0); }

/************************
** INDUSTRIES SECTION **
************************/
.services-section {
  padding: 0;
  padding-top: 4vw;
  text-align: center;
  height: 57vw;
  position: relative; }
  .services-section h2 {
    color: #4d4276;
    display: inline-block; }
    .services-section h2::after {
      display: block;
      content: "";
      height: 8px;
      background-color: #ff738d;
      width: 100%;
      margin-top: 2vw; }
  .services-section ul.services-list,
  .services-section .service-description {
    position: absolute; }
  .services-section ul.services-list {
    list-style: none;
    width: 37vw;
    top: 21vw;
    left: 14vw; }
  .services-section ul.services-list li {
    display: block;
    height: 2.5rem; }
  .services-section ul.services-list li a.tab {
    position: relative;
    display: block;
    height: 100%;
    font-size: 1.1rem;
    line-height: 2.5rem;
    color: #4d4276;
    text-decoration: none;
    text-transform: uppercase;
    text-align: left;
    padding-left: 2rem;
    font-weight: 600;
    letter-spacing: 1px; }
  .services-section ul.services-list li.active a.tab::before,
  .services-section ul.services-list li:hover a.tab::before {
    position: absolute;
    top: 50%;
    left: 8px;
    content: url(../img/icons/right.svg);
    width: 20px;
    height: 20px;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    display: block;
    line-height: 100%; }
  .services-section ul.services-list li a.tab:hover,
  .services-section ul.services-list li.active a.tab {
    color: #ff738d; }
  .services-section ul.services-list li.active a.tab {
    background-color: #f1f1f1; }
  .services-section .service-description {
    display: none;
    width: 50vw;
    top: 17vw;
    left: 50vw;
    height: 40vw;
    text-align: left;
    padding: 3rem 2rem 0 2rem;
    background-image: -webkit-linear-gradient(left, rgba(43, 88, 118, 0.98), rgba(78, 67, 118, 0.98));
    background-image: linear-gradient(left, rgba(43, 88, 118, 0.98), rgba(78, 67, 118, 0.98)); }
  .services-section .service-description.active {
    display: block; }
  .services-section .service-description h3 {
    color: #FFF;
    display: inline-block;
    border-bottom: 2px solid #E6B526;
    padding-bottom: .5rem;
    margin-bottom: 40px;
    text-align: left;
    text-transform: uppercase; }
  .services-section .service-description ul {
    list-style: none; }
  .services-section .service-description li {
    color: #FFF;
    font-size: calc( 1rem - 10% );
    margin-bottom: 20px;
    letter-spacing: 1px; }
  .services-section .service-description li::before {
    content: "+";
    color: #E6B526;
    font-weight: 600;
    font-size: 1rem;
    margin-right: 10px;
    vertical-align: top;
    line-height: 18px; }

/************************
** INDUSTRIES SECTION **
************************/
.contact-section {
  height: 40vw;
  position: relative;
  padding: 0;
  background-color: #f1f1f1; }
  .contact-section .map {
    width: 50vw;
    height: 40vw; }
  .contact-section .contact-us {
    position: absolute;
    top: 0;
    right: 0;
    width: 50vw;
    height: inherit;
    padding: 2rem 0;
    text-align: center; }
    .contact-section .contact-us h2 {
      color: #4d4276;
      display: inline-block;
      margin-bottom: 2vw; }
      .contact-section .contact-us h2::after {
        display: block;
        content: "";
        height: 8px;
        background-color: #ff738d;
        width: 100%;
        margin-top: 2vw; }
    .contact-section .contact-us h3 {
      font-family: "Tenor Sans", "Helvetica", "Arial", sans-serif;
      margin-bottom: 3vw; }
      .contact-section .contact-us h3 span {
        color: #ff738d; }
    .contact-section .contact-us a {
      display: block;
      font-size: .9rem;
      text-transform: uppercase;
      color: #ff738d;
      margin-bottom: 20px;
      text-decoration: none; }
    .contact-section .contact-us a:last-of-type {
      color: #4d4276; }
    .contact-section .contact-us p {
      font-size: .9rem;
      margin-bottom: 3vw; }
    .contact-section .contact-us ul.social-links {
      text-decoration: none; }
    .contact-section .contact-us ul.social-links li {
      display: inline-block;
      margin-right: 25px; }
    .contact-section .contact-us ul.social-links li:last-child {
      display: inline-block;
      margin-right: 0; }
    .contact-section .contact-us ul.social-links li a:link,
    .contact-section .contact-us ul.social-links li a:visited {
      color: #4d4276;
      -webkit-transition: color .5s;
      transition: color .5s; }
    .contact-section .contact-us ul.social-links li a:hover,
    .contact-section .contact-us ul.social-links li a:active {
      color: #ff738d; }
    .contact-section .contact-us ul.social-links li i {
      width: 45px;
      height: 45px;
      border: 2px solid #4d4276;
      font-size: 1rem;
      line-height: 100%;
      vertical-align: middle;
      display: table-cell;
      -webkit-transition: border .5s;
      transition: border .5s; }
    .contact-section .contact-us ul.social-links li i:hover {
      border: 2px solid #ff738d; }

/************************
** FOOTER SECTION **
************************/
footer {
  background-image: -webkit-linear-gradient(left, rgba(43, 88, 118, 0.98), rgba(78, 67, 118, 0.98));
  background-image: linear-gradient(left, rgba(43, 88, 118, 0.98), rgba(78, 67, 118, 0.98));
  text-align: center;
  padding: 40px; }
  footer p {
    color: #FFF;
    font-size: .8rem; }

/************************
**    MEDIA QUERIES    **
************************/
/****************************
        Max Width 1200px
****************************/
@media only screen and (max-width: 1200px) {
  /* --- base ----*/
  html {
    font-size: 18px; }

  /* --- header section ----*/
  header .hero-text-box {
    width: 90%; }

  /* --- about section ----*/
  .section-about h4 {
    font-size: .9rem; } }
/**** Max Width 1100px ****/
@media only screen and (max-width: 1100px) {
  /* --- leadership section ----*/
  .leadership-section figure.founder-photo figcaption {
    padding: 4rem; } }
/****************************
        Max Width 1024px
****************************/
@media only screen and (max-width: 1024px) {
  /* --- base ----*/
  .row {
    width: 94%; }

  /* --- about section ----*/
  .section-about .description-wrapper .left-box {
    padding: 2% 1% 2% 3%; }

  .section-about .description-wrapper .right-box {
    padding: 2% 3% 2% 1%;
    text-align: justify; }

  /* --- leadership section ----*/
  .leadership-section figure.founder-photo figcaption {
    padding: 3rem; }

  /* --- difference section ----*/
  .section-difference .left-side {
    padding: 0 3%; }
  .section-difference ul.right-side li:hover .value {
    top: 63px; }
  .section-difference ul.right-side li:hover h4 {
    margin-top: -10px; }
  .section-difference ul.right-side li:hover p {
    top: 169px; }
  .section-difference ul.right-side li p {
    width: 90%; }

  /* --- industries section ----*/
  .indutries-section ul.industries .industry-photo:hover h3 {
    top: 20%; }
  .indutries-section ul.industries .industry-photo:hover h3 {
    top: 30%; }
  .indutries-section ul.industries .industry-photo h3,
  .indutries-section ul.industries .industry-photo p {
    width: 90%; }

  /* --- contact section ----*/
  .contact-section .contact-us h3 {
    margin-bottom: 2vw; }
  .contact-section .contact-us a {
    margin-bottom: 15px; }
  .contact-section .contact-us p {
    margin-bottom: 2vw; }
  .contact-section .contact-us ul.social-links li i {
    width: 35px;
    height: 35px; } }
/****************************
        Max Width 900px
****************************/
@media only screen and (max-width: 900px) {
  /* --- header section ----*/
  header h1 {
    font-size: 1.8em; }
  header .hero-text-box span {
    font-size: 4.2rem; }

  /* --- about section ----*/
  .section-about .description-wrapper .left-box,
  .section-about .description-wrapper .right-box {
    width: 80%;
    text-align: center;
    float: none;
    margin: 0 auto;
    padding: 2% 0; }
  .section-about .description-wrapper .left-box h2 {
    width: 80%;
    margin-bottom: 30px;
    display: inline-block; }
  .section-about .description-wrapper .left-box h2::after {
    width: 100%;
    margin: 0;
    margin-top: 2vw;
    position: static; }
  .section-about .description-wrapper .left-box h3 {
    width: 100%;
    margin: 0 auto; }

  /* --- leadership section ----*/
  .leadership-section .founder-box {
    width: 100%;
    float: none; }
  .leadership-section figure.founder-photo {
    height: 57vw; }
  .leadership-section .founder-bio h3 {
    font-size: 2rem; }
  .leadership-section figure.founder-photo img {
    -webkit-transform: translateY(-64px);
    transform: translateY(-64px); }
  .leadership-section figure.founder-photo figcaption {
    padding: 3rem; }

  /* --- difference section ----*/
  .section-difference {
    height: 100vw;
    width: 100vw; }
    .section-difference .left-side, .section-difference .right-side {
      width: 100vw; }
    .section-difference .left-side {
      height: 40vw; }
    .section-difference .right-side {
      height: 60vw; }
    .section-difference .left-side .text-box {
      text-align: center;
      width: 80%;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .section-difference .left-side .text-box h2 {
      display: inline-block;
      margin-bottom: 40px; }
    .section-difference .left-side .text-box h2::after {
      margin: 0;
      position: static;
      margin-top: 2vw; }
    .section-difference .left-side .text-box p {
      width: 100%;
      text-align: center; }

  /* --- industries section ----*/
  .indutries-section {
    height: 86vw;
    background-size: 100vw 52.5vw; }
    .indutries-section .wrapper {
      width: 90vw;
      top: 52.5vw; }

  /* --- services section ----*/
  .services-section {
    height: 69vw; }
    .services-section .service-description {
      padding: 2rem 1rem 0 2rem;
      top: 19vw;
      height: 50vw; }
    .services-section ul.services-list {
      top: 23vw;
      left: 8vw;
      width: 42vw; }

  /* --- contact section ----*/
  .contact-section {
    height: 100vw; }
    .contact-section .map {
      height: 45vw;
      width: 100vw; }
    .contact-section .contact-us {
      position: static;
      width: 100vw;
      height: 0; }
    .contact-section .contact-us p {
      margin-bottom: 4vw; }
    .contact-section .contact-us ul.social-links li i {
      width: 45px;
      height: 45px;
      font-size: 1.2rem; } }
/****************************
        Max Width 767px
****************************/
@media only screen and (max-width: 767px) {
  /* --- header section ----*/
  header .hero-text-box h1 {
    text-align: center;
    font-size: 1.4rem; }
  header .hero-text-box span {
    font-size: 2.8rem; }
  header .menu-overlay .main-nav {
    top: 56%; }
  header .menu-overlay ul li a {
    font-size: 1.8rem; }

  /* --- about section ----*/
  .section-about .description-wrapper .left-box,
  .section-about .description-wrapper .right-box {
    width: 90%; }
  .section-about .expertises-wrapper .expertises .expertise-box {
    width: 100%;
    padding: 30px 0 0 0;
    margin: 0; }
  .section-about .expertises-wrapper .expertises .expertise-box:last-child {
    padding-bottom: 30px; }

  /* --- leadership section ----*/
  .leadership-section figure.founder-photo {
    height: 78vw; }
  .leadership-section figure.founder-photo img {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  .leadership-section figure.founder-photo figcaption {
    padding: 1rem;
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
    -webkit-transition: all .25s;
    transition: all .25s; }
  .leadership-section figure.founder-photo:hover figcaption {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  .leadership-section .founder-bio h3 {
    font-size: 1.5rem; }
  .leadership-section .founder-bio p {
    font-size: .9rem; }

  /* --- difference section ----*/
  .section-difference {
    height: 280vw; }
    .section-difference .left-side {
      height: 80vw; }
    .section-difference .left-side .text-box {
      width: 90%; }
    .section-difference .right-side {
      height: 100vw; }
    .section-difference .right-side li {
      width: 100%;
      height: 50%; }
    .section-difference .right-side li:nth-child(1),
    .section-difference .right-side li:nth-child(3) {
      background-color: #f1f1f1; }
    .section-difference .right-side li:nth-child(2),
    .section-difference .right-side li:nth-child(4) {
      background-color: #e0e0e0; }

  /* --- industries section ----*/
  .indutries-section {
    height: 235vw;
    background-size: 100vw 130vw;
    padding-top: 40px; }
    .indutries-section .wrapper {
      top: 130vw; }
    .indutries-section .industries li {
      width: 100%; }
    .indutries-section .industries .industry-photo {
      height: 50vw; }

  /* --- industries section ----*/
  .services-section {
    height: 175vw; }
    .services-section h2 {
      margin-bottom: 40px; }
    .services-section ul.services-list {
      position: initial;
      width: 100vw; }
    .services-section ul.services-list li a.tab {
      padding-left: 3rem; }
    .services-section ul.services-list li.active a.tab::before,
    .services-section ul.services-list li:hover a.tab::before {
      left: 25px; }
    .services-section .service-description {
      position: initial;
      padding: 2rem 1rem 0 3rem;
      width: 100vw;
      height: 82vw; }

  /* --- contact section ----*/
  .contact-section {
    height: 180vw; }
    .contact-section .map {
      height: 100vw; }
    .contact-section .contact-us {
      height: auto; } }
/****************************
        Max Width 480px
****************************/
@media only screen and (max-width: 480px) {
  html {
    font-size: 16px; }

  /* --- difference section ----*/
  .section-difference ul.right-side li:hover p {
    top: 149px; }

  /* --- industries section ----*/
  .services-section {
    height: 190vw; }
    .services-section ul.services-list li a.tab {
      padding-left: 3.25rem; }
    .services-section .service-description {
      height: 90vw; }

  /* --- contact section ----*/
  .contact-section {
    height: 200vw; }
    .contact-section .map {
      height: 110vw; }
    .contact-section .contact-us {
      height: auto; }
    .contact-section .contact-us h3 {
      margin-bottom: 3vw; }
    .contact-section .contact-us p {
      margin-bottom: 7vw; } }

/*# sourceMappingURL=style.css.map */
